#wrapper {
  display: grid;
  height: fit-content;
  width: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

h1 {
  grid-column-start: 1;
  grid-row-start: 1;
  display: block;
  text-align: center;
  color: mediumslateblue;
  height: fit-content;
}

p {
  grid-column-start: 1;
  grid-row-start: 1;
  display:flex;
  height: fit-content;
  place-self: center left;
}

.buttons {
  grid-column-start: 2;
  grid-row-start: 4;
  place-self: center center;
}

.buttons > button {
  width: 200px;
  padding: 10px;
  justify-content: space-around;
  align-content: wrap;
}

.piechart {
  grid-column-start: 1;
  grid-row: 2 / 4;
  display: flex;
  place-self: center center;
  width: 400px;
  height: 400px;
  border: 2px solid black;
  border-radius: 50%;
  background-image: conic-gradient(
    red 0% 10%,
    pink 10% 20%,
    orange 20% 30%,
    yellow 30% 40%,
    green 40% 50%,
    blue 50% 60%,
    purple 60% 70%,
    saddlebrown 70% 80%,
    gray 80% 90%,
    white 90% 100%);
}

